@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import './../../styles/theme.scss';
@import './../../styles/globals.scss';

// Take all available room
.chooserPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include fade-in(1s);

  .message {

    width: calc(100% - 2rem);
    display: grid;
    align-items: start;
    justify-items: center;
    color: $mainColor;

    .text {
      text-align: center;
      font-size: 2.5em;

      &.big {
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 0.5em;
        text-transform: uppercase;
      }

      &.small {
        font-size: 1.5em;
        color: $mainColorIdle;
        margin: 1em;
      }
    }
  }
}