@import './mixins.scss';
@import './theme.scss';

$buttonColor: rgba($mainColorIdle, 0.5);

@mixin fancyButton() {


  -webkit-box-shadow: 3px 3px 5px 0px $buttonColor;
  -moz-box-shadow: 3px 3px 5px 0px $buttonColor;
  box-shadow: 3px 3px 5px 0px $buttonColor;
  border: solid 2px $buttonColor;
  background-color: rgba(255,255,255,0.3);
  @include animation-ease(0.2s);
  &:hover {
    color: $mainColor;
    @include animation-ease(0.05s);
  }
  &:active {
    color: $mainColor;
    -webkit-box-shadow: 7px 7px 5px 0px $buttonColor;
    -moz-box-shadow: 7px 7px 5px 0px $buttonColor;
    box-shadow: 7px 7px 5px 0px $buttonColor;
    @include animation-ease(0.03s);
  }
}

@mixin themedTagA() {
  $underlineColor: rgba($mainColor, 0.3);
  text-decoration: none;
  border-bottom: 4px solid $underlineColor;
  color: $mainColor;
  @include basicTransition();
  &:hover {
    background-color: $underlineColor;
    border-bottom: 4px solid transparent;
    outline: 0;
    @include basicTransition();
  }

  &:visited {
    text-decoration: none;
    color: inherit;
  }

  &:active, &:focus {
    outline: 0;
    -moz-outline-style: none;
  }
}