@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import './../../styles/theme.scss';
@import './../../styles/globals.scss';
@import './../../styles/ui-elements.scss';

.homePage {

  @include fade-in(1s);

  .mainGrid {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    animation: all 0.5s ease-in-out;
    grid-template-rows: 50% 50%;
  }

  .message {
    width: calc(100% - 2rem);
    height: 100vh;
    display: grid;
    align-items: center;
    color: $mainColor;
    padding: 1rem;


    .text {
      text-align: center;
      font-size: 2.5em;

      &.big {
        font-weight: 400;
        @media #{$gt-sm} {
          margin-bottom: 0.5em;
        }
        text-transform: uppercase;
      }

      &.small {
        font-size: 1.5em;
        color: $mainColorIdle;
      }
    }
  }

  .button {

    @extend .Globals-clickable;
    @extend .Globals-noselect;
    display: grid;
    align-self: center;
    justify-self: center;
    align-items: center;
    height: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin: 1em;
    box-shadow: inset 0 0 0 1px $mainColorIdle;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: $mainColorIdle;

    @media #{$lt-sm} {
      width: 85%;
    }
    @media #{$gt-xs} {
      width: 14em;
    }

   @include fancyButton();
  }

  .fillPage {
    min-height: 100%;
  }
}