@import './../../styles/breakpoints.scss';
@import './../../styles/mixins.scss';
@import './../../styles/theme.scss';
@import './../../styles/globals.scss';
@import './../../styles/ui-elements.scss';

.menu {

  .gridWrapper {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .menuGrid {
    @include fade-in(1s);
    align-self: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    .item {
      @extend .Globals-clickable;
      @extend .Globals-noselect;
      padding: 1rem;
      margin: 1rem;
      text-align: center;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 400;
      color: $mainColorIdle;
      box-shadow: inset 0 0 0 1px $mainColorIdle;
      display: grid;
      align-items: center;

      @include breakpoint(small) {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      @include breakpoint(normal) {
        width: 40%;
        max-width: 600px;

        @media #{$height-sm} {
          padding-top: 1em;
          padding-bottom: 1em;
        }
        @media #{$height-normal} {
          padding-top: 2.5rem;
          padding-bottom: 2.5rem;
        }
      }
      @include fancyButton();

    }
  }

  .gridMiddleCentered {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: start;
    justify-items: center;
    justify-self: center;

    @include animation-ease(1s);
    @include breakpoint(small) {
      width: 100%;
    }
    @include breakpoint(normal) {
      width: 100%;
      max-width: 900px;
    }
  }

}
